<div class="container" ng-controller="dashboard" ng-init="loadTickets()">
    <div ng-include="'templates/navigation.html'"></div>
    <h2>Tickets</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th style="width: 5%">ID</th>
                <th style="width: 15%">Sender</th>
                <th style="width: 35%">Text</th>
                <th style="width: 5%">Server</th>
                <th style="width: 5%">Reason</th>
                <th style="width: 5%">Status</th>
                <th style="width: 15%">Created</th>
                <th style="width: 15%">Last update</th>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in tickets">
                    <td><a ng-href="/#/ticket/{{ticket.uid}}">#{{ ticket.uid }}</a></td>
                    <td>{{ ticket.sender }}</td>
                    <td>{{ shortenText(ticket.messages[0].text, 80, true) }}</td>
                    <td>{{ ticket.server }}</td>
                    <td>{{ ticket.reason }}</td>
                    <td>{{ ticket.status }}</td>
                    <td title="{{ formatTimestamp(ticket.messages[0].timestamp, 'DD.MM HH:mm:ss') }}">
                        {{ formatTimestampRelative(ticket.messages[0].timestamp) }}</td>
                    <td class="col-md-2" title="{{ formatTimestamp(ticket.messages.slice(-1)[0].timestamp, 'DD.MM HH:mm:ss') }}">
                        {{ formatTimestampRelative(ticket.messages.slice(-1)[0].timestamp) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>