<nav ng-controller="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/dashboard">QReport</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/#/dashboard">Tickets</a></li>
                <li><a href="/#/admin">Admin panel</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()" style="cursor: pointer"><strong>Log out</strong></a></li>
            </ul>
        </div>
    </div>
</nav>