<!--Template which displays information about given ticket-->
<!--Fetches data about ticket from backend on load-->
<div class="container" ng-controller="ticket" ng-init="loadTicketData()">
    <div ng-include="'templates/navigation.html'"></div>

    <!--Title-->
    <h3 class="form-inline">Created by {{ ticket.messages[0].sender }} {{ formatTimestampRelative(ticket.messages[0].timestamp) }}
        <!--Select element with available ticket status, one item select it sends ajax request to the backend and updates ticket data after it-->
        <select ng-model="selectedStatus" ng-options="status for status in availableStatuses" ng-change="updateStatus()" class="form-control"></select>
        </h3>
    <hr />

    <!--Message history-->
        <div class="panel clearfix panel-default" ng-repeat="message in ticket.messages">
            <div class="panel-heading clearfix">
                <span class="panel-title pull-left">{{ message.sender }} <span class="text-muted">| {{ formatTimestampRelative(message.timestamp) }} </span></span>
            </div>
            <div class="panel-body">
                {{ message.text }}
            </div>
        </div>

    <!--New message field-->
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="panel-title pull-left">New message</span>
        </div>
        <div class="panel-body">
            <textarea ng-model="newMessage" class="form-control" style="resize:vertical;" rows="5"></textarea>
            <br />
            <button ng-click="addMessage()" class="btn btn-default pull-right">Comment</button>
        </div>
    </div>

</div>