extends header

block content
	script
		var authForm = angular.module('authForm', [])
		authForm.controller("authForm-Controller", function($scope, $http, $httpParamSerializerJQLike, $window){
			$scope.error = ""
			$scope.login = ""
			$scope.password = ""
			$scope.auth = function(){
				$http({
					url: 'auth',
					method: 'POST',
					headers: {'Content-Type': 'application/x-www-form-urlencoded'},
					data: $httpParamSerializerJQLike({
						login: $scope.login,
						password: $scope.password
					})
				}).then(function(response){
					if(response.data.ok){
						$window.location.href = '/admin/reports'
					} else {
						$scope.error = 'Invalid login or password'
					}
				})
			}
		})
	body(ng-app='authForm', ng-controller='authForm-Controller')
		span(ng-show='error') {{ error }}
		form
			input(type='text', ng-model='login')
			input(type='password', ng-model='password')
			input(type='submit', ng-click='auth()')
