<div class="container" ng-controller="admin-global">
    <div ng-include="'templates/navigation.html'"></div>

    <div class="row">

        <!--Side menu-->
        <div ng-include="'templates/admin/admin-menu.html'"></div>


        <!--Content-->
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Global settings</span>
                </div>
                <div>
                    TODO
                </div>
            </div>
        </div>
    </div>

</div>