<div class="container" ng-controller="admin-users" ng-init="init(); loadUsers()">
    <div ng-include="'templates/navigation.html'"></div>

    <div class="row">

        <!--Side menu-->
        <div ng-include="'templates/admin/admin-menu.html'"></div>


        <!--Content-->
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Login</th>
                        <button class="btn btn-success pull-right" ng-show="isCurrentUserMaster"
                                data-toggle="modal" data-target="#new-user-modal">Add new</button>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>
                                {{ user.username }}
                                 <span ng-show="user.admin" class="glyphicon glyphicon-wrench"
                                       title="Has admin access"></span>
                                 <span ng-show="user.fullServerAccess" class="glyphicon glyphicon-list-alt"
                                       title="Has full server access"></span>
                                <div class="pull-right">
                                    <button ng-show="isCurrentUserMaster" ng-click="removeUser(user.username)" class="btn btn-danger">Remove</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--New user modal-->
        <div ng-controller="new-user-modal" id="new-user-modal"  class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New user</h4>
                    </div>
                    <div class="modal-body">
                        <!--new user form-->
                        <div class="form-group">
                            <label>User login:</label>
                            <input ng-model="login" autocomplete="new-login" type="text" class="form-control">
                            <label>User password</label>
                            <input ng-model="password" autocomplete="new-password" type="password" class="form-control">
                            <label>Access level
                                <select ng-model="level" ng-options="level for level in availableLevels" class="form-control"></select>
                            </label>
                            <br>
                            <label>Full server access
                                <input ng-model="fullServerAccess" type="checkbox" class="checkbox">
                            </label>

                            <div ng-show="!fullServerAccess">
                                <label>Servers:</label>
                                <tags-input ng-model="servers"></tags-input>
                            </div>
                            <br>

                            <input value="Add" type="button" class="form-control" data-dismiss="modal" ng-click="addUser()">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
